.profile-card {
	width: 100%;
}

.profile-card-header h1 {
	font-weight: bold;
}

.profile-card-header h2 {
	color: var(--fg-3);
	font-size: 90%;
}

.profile-card-body {
	max-height: 0;
	overflow: hidden;
	padding-top: 0;
	transition:
		max-height 0.3s ease,
		padding-top 0.3s ease;
	;
}

.profile-card-body.open {
	max-height: 50vh;
	padding-top: 1rem;
}

.profile-card-header .button {
	position: relative;
}

.profile-card-header .label {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

/* ======== Lobby card ========= */

.follow-lobby-status {
	background: var(--bg-1);
	padding: 8px;
	border-radius: 4px;
	border-left: var(--inlobby-color) 2px solid;
	min-width: 100px;
}


.social-manager-follow-card .follow-lobby-request, .social-manager-follow-card:hover .follow-lobby-status.requestable {
	display: none;
}

.social-manager-follow-card:hover .follow-lobby-request {
	display: flex;
	color: var(--fg-1);
	background-color: var(--inlobby-color);
}

.follow-lobby-request:hover {
	filter: saturate(1.5);
}


/* ========== UserCard ============== */

.user-card {
	max-width: 40vw;
	margin: 16px;
}

.user-card h1 {
	font-weight: bold;
}

.user-card .button {
	margin-left: auto;
}

/* ========= Request Card ============ */

.request-card {
	padding: 8px;
	border-radius: 4px;
	font-size: small;
	font-weight: bold;
	transition: 0.4s;
}

.request-card:hover {
	background-color: var(--bg-4);
}

.request-card-user {
	cursor: pointer;
}

.request-card .button {
	font-weight: normal;
}


.request-toast {
	position: relative;
}

.resquest-toast .close-button {
	position: absolute;
	top: 8px;
	right: 8px;
}


/* Profile Header */

.profile-header {
	box-sizing: border-box;
	grid-column: 1 / 7;
  	grid-row: 1;
}

.profile-header h1 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--fg-1);
}

/* Profile filter */

.profile-filter {
	color: var(--fg-1);
	box-sizing: border-box;
	grid-column: 1 / 5;
  	grid-row: 2;
}

.profile-filter .segmented-control {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* Profile game list */

.profile-game-list {
	background-color: var(--bg-1);
	border-radius: 8px;
	box-sizing: border-box;
	flex: 4;
	color: var(--fg-1);
	padding: 16px;
	grid-column: 1 / 5;
  	grid-row: 3 / 18;
}

.profile-game-list-header {

}

.profile-game-list-body {
	padding-bottom: 32px;
}

.profile-game-list-footer {
	
}

.profile-game-list-item h1 {
	font-size: xx-large;
	font-weight: bolder;
}

.profile-game-list-item h2 {
	font-weight: 700;
	font-size: large;
}

.profile-game-list-item h3 {
	font-size: small;
	color: var(--fg-3);
	text-transform: capitalize;
}

/* profile game list item */

.profile-game-list-item {
	box-sizing: border-box;
	padding: 8px;
	border-radius: 4px;
	background-color: var(--bg-4);
	cursor: pointer;
	min-height: 80px;
}

.profile-game-list-item.win {
	background-color: var(--success-color-80);
}

.profile-game-list-item.win:hover {
	background-color: var(--success-color-40);
}

.profile-game-list-item.lose {
	background-color: var(--danger-color-80);
}

.profile-game-list-item.lose:hover {
	background-color: var(--danger-color-40);
}


/* Profile pie chart */

.profile-chart {
	background-color: var(--bg-1);
	border-radius: 8px;
	box-sizing: border-box;
	grid-column: span 2;
	grid-row: span 8;
	padding: 16px;
	color: var(--fg-1);
}


/* Profile Game drawer */

.profile-game-drawer {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: -100%;
	min-width: 400px;
	height: 100%;
	transition: right 0.4s ease;
	box-sizing: border-box;
	padding: 32px;
}

.profile-game-drawer.open {
	right: 0;
}

.profile-game-drawer-header h1 {
	font-size: xx-large;
	font-weight: bolder;
	color: var(--fg-1);
}

.profile-game-drawer-header p {
	font-size: medium;
	color: var(--fg-3);
}


.profile-game-drawer-team h3{
	color: var(--fg-3);
}

.profile-game-drawer-team {
	background-color: var(--bg-1);
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 8px;
}

.profile-game-drawer-team h1 {
	font-size: medium;
	font-weight: bolder;
}

.profile-game-drawer-player {
	background-color: var(--bg-2);
	box-sizing: border-box;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

.profile-game-drawer-player:hover {
	background-color: var(--bg-3);
}

.profile-game-drawer-player-mmr {
	font-size: medium;
	margin-left: auto;
}

.profile-game-drawer-player-mmr.positive {
	color: var(--success-color);
}

.profile-game-drawer-player-mmr.negative {
	color: var(--danger-color);
}