.auth-card {
	position: absolute;
	bottom: 24px;
	right: 24px;
	min-width: 300px;
	font-size: small;
	transition: 0.4s;
}

.auth-card-login {
	flex: 3;
}

.auth-card p {
	text-align: center;
	flex: 1;
}

.auth-card-register {
	flex: 3;
}

.auth-card-cancel {
	aspect-ratio: 1/1;
}



.login-form {
	height: 0;
	transition: 0.4s;
	overflow: hidden;
}

.login-form.open {
	height: 50vh;
}