.auth-card {
	width: 100%;
	min-width: 300px;
	font-size: medium;
	transition: height 0.4s;
	backdrop-filter: none;
}

.auth-card-login, .auth-card-register {
	flex: 3;
}

.auth-card-footer p {
	text-align: center;
	flex: 1;
}

.auth-card-form {
	max-height: 0;
	transition: max-height 0.4s ease-in-out, padding-bottom 0.4s;
}

.auth-card-form h1 {
	width: 100%;
	text-align: center;
	font-size: large;
	font-weight: 500;
	margin-bottom: 1rem;
}


.auth-card-form.open {
	max-height: 60vh;
	padding-bottom: 1rem;
	animation: openOverflow 0.4s;
}

.auth-card-form.closed {
	padding: 0;
	overflow: hidden;
}

@keyframes openOverflow {
	0% {
		overflow: hidden;
	}
	99% {
		overflow: hidden;
	}
	100% {
		overflow: visible;
	}
}


.fortytwo-auth-button {
	background-color: white;
	color: #3c4043;
	height: 40px;
	padding: 0 12px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
}

.fortytwo-auth-button p{
	text-align: center;
	flex: 1;
}

.fortytwo-auth-button:hover {
	background-color: #f8f9fa;
}

.fortytwo-auth-button img{
	width: 20px;
	height: 20px;
}


/* 2fa-modal */


.mfa-modal-qrcode {
	padding: 8px 0;
	width: 100%;
}

.mfa-modal-qrcode p {
	text-align: left;
	color: var(--fg-4);
	font-size: small;
}

.mfa-modal img {
	width: 20vw;
	max-width: 200px;
}

.mfa-modal .pin-input {
	width: calc(6 * 42px + 5 * 0.5rem);
}

.mfa-confirm .pin-input {
	width: fit-content;
}

/* Lobby invite modal */

.lobby-invite-modal {
	max-width: 368px;
	height: 50vh;
	backdrop-filter: none;
}

.lobby-invite-modal h1 {
	text-align: center;
	font-size: x-large;
	font-weight: 700;
}

.lobby-invite-modal p {
	text-align: center;
	font-size: medium;
	line-height: 125%;
}

.lobby-invite-modal-content {
	margin: auto;
	width: 90%;
	justify-self: center;
}

.lobby-invite-modal .button {
	flex: 1;
}