.view {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

.lobby-view {
	position: relative;
	box-sizing: border-box;
}

.local-view {
	width: 100%;
	height: 100%;
}


.tournament-view {
	margin-top: var(--header-height);
	width: 100%;
	height: calc(100vh - var(--header-height));
	align-items: stretch;
	justify-content: center;
}
