.view {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

.lobby-view {
	position: relative;
	box-sizing: border-box;
}

.local-view {
	width: 100%;
	height: 100%;
}


.tournament-view {
	width: 100%;
	height: calc(100vh - var(--header-height));
	align-items: stretch;
	justify-content: center;
	box-sizing: border-box;
	padding-right: var(--aside-width);
}

.profile-view {
	box-sizing: border-box;
	padding: 16px;
	width: 100vw;
	box-sizing: border-box;
	padding-right: var(--aside-width);
	height: calc(100vh - var(--header-height));
	background-color: color-mix(in srgb, var(--bg-2), transparent 20%);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(17, 1fr);
	gap: 8px;
}

.home-view {
	padding: 32px;
	box-sizing: border-box;
}

.leaderboards-title {
	flex-direction: row;
	justify-content: space-between;
	font-size: x-large;
	font-weight: bold;
}