/* ================================== */
/* ============ Button ============== */
/* ================================== */


.button {
	background-color: var(--bg-2);
	color: var(--fg-1);
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
	gap: 8px;
	font-size: medium;
	transition: 0.3s;
}

.button i {
	font-size: 90%;
}

.button:hover {
	background-color: var(--bg-3);
}

.button.disabled, .button.disabled:hover{
	background-color: var(--bg-2);
	cursor: not-allowed;
}

.button.icon {
	padding: 8px;
	aspect-ratio: 1/1;
	width: 16px;
}

.button.primary {
	background-color: var(--primary-color);
	color: var(--fg-1);
}

.button.primary:hover {
	background-color: var(--primary-color);
	filter: saturate(2);
}

.button.primary.disabled, .button.primary.disabled:hover{
	background-color: var(--primary-color-40);
	filter: saturate(1);
}

.button.ghost {
	background-color: transparent;
	color: var(--fg-1);
}

.button.ghost:hover {
	color: var(--fg-3);
}

.button.ghost.disabled, .button.ghost.disabled:hover{
	color: var(--fg-4);
	background: transparent;
}

/* ================================== */
/* ============= Card =============== */
/* ================================== */

.card {
	background-color: color-mix(in srgb, var(--bg-1), transparent 30%);
	backdrop-filter: blur(16px);
	color: var(--fg-1);
	padding: 16px;
	display: flex;
	flex-direction: column;
	position: relative;
	--border-radius: 4px;
	border-radius: var(--border-radius);
}

.card::after {
	content: "";
	position: absolute;
	background: var(--primary-color);
}

.card.left::after, .card.right::after {
	width: 2px;
	height: 100%;
	top: 0;
	box-shadow: 0px 0px 16px 4px var(--primary-color);
	background: linear-gradient(0deg, var(--primary-color-60) 0%, var(--primary-color) 10%, var(--primary-color) 90%, var(--primary-color-60) 100%);
}

.card.top::after, .card.bottom::after {
	width: 100%;
	height: 2px;
	left: 0;
	box-shadow: 0px 0px 16px 4px var(--primary-color);
	background: linear-gradient(90deg, var(--primary-color-60) 0%, var(--primary-color) 10%, var(--primary-color) 90%, var(--primary-color-60) 100%);
}

.card.left::after {
	left: 0;
}

.card.right::after {
	right: 0;
}

.card.top::after {
	top: 0;
}

.card.bottom::after {
	bottom: 0;
}

.card.info::after {
	--primary-color: var(--info-color);
	--primary-color-60: var(--info-color-60);
}

.card.danger::after {
	--primary-color: var(--danger-color);
	--primary-color-60: var(--danger-color-60);
}

.card.warning::after {
	--primary-color: var(--warning-color);
	--primary-color-60: var(--warning-color-60);
}

.card.success::after {
	--primary-color: var(--success-color);
	--primary-color-60: var(--success-color-60);
}

/* ================================== */
/* ============ Avatar ============== */
/* ================================== */

.avatar {
	aspect-ratio: 1/1;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
}

.avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
}

.avatar p {
	position: absolute;
	color: var(--fg-1);
	font-weight: bold;
	text-transform: uppercase;
}

.avatar span {
	position: absolute;
	aspect-ratio: 1/1;
	border-radius: 50%;
	width: 25%;
	bottom: 0;
	right: 0;
}

/* ================================== */
/* =========== Separator ============ */
/* ================================== */

.separator-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.separator-container .separator {
	flex: 1;
}

.separator {
	border-bottom: 1px solid var(--fg-3);
}

/* ================================== */
/* ============= Input ============== */
/* ================================== */

.input-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.input-container input {
	background-color: transparent;
	padding: 8px;
	color: var(--fg-1);
	border: 1px solid var(--bg-3);
	transition: 0.2s;
	border-radius: 4px;
}

.input-container input:focus {
	border: 1px solid var(--fg-3);
}

.input-container input::placeholder {
	color: var(--fg-4);
}

.input-container input.invalid {
	border: 1px solid var(--danger-color);
}

.input-container label {
	font-size: medium;
	font-weight: 500;
	color: var(--fg-1);
}

.input-container label span {
	font-size: small;
	color: var(--danger-color);
	vertical-align: super;
	margin-left: 2px;
}

.input-error {
	text-align: left;
	color: var(--danger-color);
	font-size: small;
	height: 13px;
}


/* ================================== */
/* ============ Checkbox ============ */
/* ================================== */

.checkbox input[type="checkbox"] {
	position: relative;
	cursor: pointer;
	width: 16px;
	padding: 0;
	aspect-ratio: 1/1;
}

.input-container input[type="checkbox"]:focus {
	border: 1px solid var(--bg-3);
}

.input-container input[type="checkbox"].invalid {
	border: 1px solid var(--danger-color);
}

.checkbox label {
	font-size: small;
	cursor: pointer;
	color: var(--fg-1);
}

.checkbox input[type="checkbox"]:checked {
	border: 1px solid var(--fg-3);
}

.checkbox input[type="checkbox"]:checked::after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	left: 6px;
	width: 4px;
	height: 9px;
	border: solid var(--fg-1);
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}

/* ================================== */
/* ============= Toast ============== */
/* ================================== */

.toaster {
	position: fixed;
	top: 16px;
	right: 16px;
	width: 350px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 8px;
	z-index: 2000;
}

.toast {
	background-color: color-mix(in srgb, var(--bg-3), transparent 30%);
	opacity: 0;
	animation: slideIn 0.5s ease-in-out forwards;
}


@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ================================== */
/* ============= Modal ============== */
/* ================================== */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal.overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	max-width: 60%;
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal-content .close {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

/* ================================== */
/* ========= ImageSelector ========== */
/* ================================== */

.image-selector {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.image-selector label {
	font-weight: 500;
	font-size: medium;
}

.image-selector label span {
	font-size: small;
	color: var(--danger-color);
	vertical-align: super;
	margin-left: 2px;
}

.image-selector-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
	grid-gap: 8px;
}

.image-selector-container img, .image-selector-container label {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--bg-2);
}

.image-selector-container img:hover {
	outline: 2px solid var(--fg-3);
}

.image-selector-container img.selected {
	outline: 2px solid var(--primary-color);
}

.image-selector-container label input[type="file"] {
	display: none;
}

.image-selector-container label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: x-large;
	background-color: var(--bg-2);
}

.image-selector-container label:hover {
	background-color: var(--bg-3);
}