/* ============================== */
/* ============ Card ============ */
/* ============================== */

.social-manager-user-card {
	padding: 8px;
	box-sizing: border-box;
	font-size: small;
	border-radius: 4px;
	transition: 0.4s;
}

.social-manager-user-card:hover {
	background-color: var(--bg-4);
}


.social-manager-user-card-header {
	cursor: pointer;
	flex: 1;
	min-width: 0;
}

.social-manager-user-card-header .avatar {
	min-width: 48px;
}

.social-manager-user-card-user {
	min-width: 0;
}

.social-manager-user-card-header h1 {
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}

.social-manager-user-card-header h2 {
	color: var(--fg-3);
}


.social-manager-user-card .button {
	font-size: small;
}

.social-manager-user-card-content {
	flex: 1;
	min-width: 0;
}

/* ============================== */
/* ===== Social Friend Card ===== */
/* ============================== */

.social-friend-card {
	flex: 1;
}

.social-friend-card-status {
	background: var(--bg-1);
	padding: 8px;
	border-radius: 4px;
	flex: 1;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.social-friend-card-status::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
}

.social-friend-card-status.inlobby::after {
	background-color: var(--inlobby-color-active);
}

.social-friend-card-status.ingame::after {
	background-color: var(--ingame-color);
}

.social-friend-card-status.intournament::after {
	background-color: var(--intournament-color);
}


.social-friend-card-button {
	position: absolute;
	/* background: var(--inlobby-color); */
	background: var(--inlobby-color-active);
	padding: 8px;
	flex: 1;
	box-sizing: border-box;
	transform: translateX(-100%);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 0;
	transition: transform 0.3s ease;
}

.social-friend-card-status:hover .social-friend-card-button {
	transform: translateX(0);
}

.social-friend-card-button:hover {
	background: var(--inlobby-color-active);
}

/* ============================== */
/* =========== Manager ========== */
/* ============================== */

.social-manager-tabbar {
	font-size: small;
	border-radius: 8px;
	background-color: var(--bg-2);
	overflow: hidden;
}

.social-manager-tabbar .button {
	font-size: small;
	border-radius: 0;
	flex: 1;
}

.social-manager-tabbar .button.selected {
	background-color: var(--bg-4);
}

.social-manager-content {
	width: 100%;
	height: 40vh;
	position: relative;
}

.social-manager-tab {
	overflow-y: auto;
	height: calc(100% - 1rem);
	overflow-x: hidden;
	width: 100%;
	transition: transform 0.3s ease;
	margin: 1rem 0;
	box-sizing: border-box;
	transform: translateX(-100%);
	position: absolute;
	top: 0;
	left: 0;
}

.social-manager-tab:last-of-type {
	transform: translateX(100%);
}


.social-manager-tab.open {
	transform: translateX(0);
}

.social-manager-disconnected {
	min-height: 400px;
}

/* ============================== */
/* =========== Search =========== */
/* ============================== */

.social-manager-add {
	overflow: hidden;
}

.social-manager-add-list {
	overflow: auto;
}

.social-manager-search-form {
	position: relative;
}

.social-manager-search-form .spinner {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--fg-3);
}

/* ============================== */
/* ========== Friends =========== */
/* ============================== */

.social-manager-empty {
	background-color: color-mix(in srgb, var(--bg-3), transparent 65%);
	color: var(--fg-2);
	padding: 8px;
}

.social-manager-user-list {
	padding: 8px;
	box-sizing: border-box;
	background-color: color-mix(in srgb, var(--bg-3), transparent 65%);
}

.social-manager-friend-count {
	font-size: small;
	color: var(--fg-3);
}