.aside > *, .overlay > *, .template-content > * {
	pointer-events: initial;
}

.template-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	--header-height: 64px;
	--aside-width: 400px;
	pointer-events: none;
	padding-top: var(--header-height);
	height: calc(100vh - var(--header-height));
}

.template-overlay {
	position: absolute;
	top: 0;
	height: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: color-mix(in srgb, var(--bg-1), transparent 50%);
	display: flex;
	align-items: center;
	justify-content: center;
}


.header {
	pointer-events: initial;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 64px;
}

.aside {
	pointer-events: none;
	position: fixed;
	bottom: 0;
	right: 0;
	height: calc(100vh - 64px);
	width: 400px;
	align-items: center;
	justify-content: flex-end;
	padding: 16px;
	box-sizing: border-box;
	overflow: auto;
}
