.template-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	--header-height: 64px;
	--aside-width: 400px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 64px;
}

.aside {
	position: fixed;
	bottom: 0;
	right: 0;
	height: calc(100vh - 64px);
	width: 400px;
	align-items: center;
	justify-content: flex-end;
	padding: 16px;
	box-sizing: border-box;
	overflow: auto;
	z-index: 2;
}