.lobby-card {
	position: fixed;
	top: 24px;
	right: 24px;
	min-width: 200px;
}

.lobby-card h1 {
	font-size: medium;
	font-weight: bold;
	color: var(--fg-1);
}

.lobby-card h2 {
	font-size: small;
	color: var(--fg-2);
}

.lobby-card-body .avatar:first-child {
	border: 1px solid var(--primary-color);
}

/* =============== List =============== */

.lobby-teams {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-self: flex-start;
	align-items: center;
	gap: 1rem;
	margin-left: 64px;
	user-select: none;
}

.lobby-teams h1 {
	width: 100%;
	color: var(--fg-1);
	font-size: large;
}

.lobby-team {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 16px;
	background-color: var(--bg-2);
	backdrop-filter: none;
	position: unset;
	border-left: 2px solid var(--team-color);
}

.lobby-team .card{
	flex-direction: row;
	min-width: 200px;
	min-height: 48px;
}

.lobby-player-card.draggable {
	cursor: grab;

}

.lobby-player-card.dragging {
	box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.50);
	z-index: 9999;
	top: var(--y);
	left: var(--x);
	pointer-events: none;
	position: absolute;
}

.lobby-player-card i{
	font-size: large;
	pointer-events: none;
	color: var(--fg-4);
}


.lobby-team .card.empty {
	background-color: var(--bg-1);
	opacity: 0.5;
}

.lobby-player-card-wrapper {
	width: 100%;
	min-width: 232px;
	height: 80px;
	border-radius: 4px;
	outline: 1px solid var(--fg-5);
}

.lobby-player-card .avatar {
	pointer-events: none;
}