.settings {
	z-index: 100;
	position: absolute;
	top: 0;
	left: calc(-600px);
	height: 100vh;
	width: 400px;
	border-radius: 0;
	opacity: 0;
	padding: 0 32px;
	transition: left 0.5s, opacity 0.5s;
}

.settings.open {
	position: absolute;
	opacity: 1;
	left: 0;
}

.settings-header {
	margin-top: 32px;
}

.settings-content {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding-bottom: 20vh;
}

.settings-content::-webkit-scrollbar {
	display: none;
}

.settings h1 {
	font-size: x-large;
	font-weight: bold;

}

.settings-section h2 {
	font-size: large;
	font-weight: bold;
}

.settings-tooltip {
	width: 200px;
	gap: 2px;
}

.settings-tooltip li {
	list-style: circle;
	padding: initial;
	margin-left: 16px;
	line-gap-override: 0.5rem;
	padding: 2px 0;
}