.menu {
	width: 100%;
}

.menu a {
	text-decoration: none;
	justify-content: flex-start;
	width: 80%;
	padding: 12px;
}

.menu .pop-hover-container {
	gap: 8px;
}


.menu p {
	opacity: 1;
	transition: opacity 0.3s;
}

.menu .button.active {
	color: var(--primary-color);
}
