.online-select-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 100;
	display: none;
	opacity: 0;
	color: var(--fg-1);
	font-size: x-large;
	overflow: hidden;
}

.online-select-overlay.open {
	display: flex;
	animation: fadeIn 0.5s forwards;
	opacity: 1;
}

@keyframes fadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}

.online-select-overlay .close {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: x-large;
	cursor: pointer;
}


.online-select-overlay-content {
	gap: 16px;
	width: 100%;
}

.mode-buttons {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.mode-button {
	border-radius: 4px;
	height: 175px;
	aspect-ratio: 5/3;
	padding: 16px;
	position: relative;
	border: 2px solid var(--fg-1);
	transition: border 0.3s, transform 0.3s;
	cursor: pointer;
	background-color: color-mix(in srgb, var(--bg-1), transparent 20%);
	overflow: hidden;
}

/* .mode-button.ranked {
	background: rgb(22,136,255);
	background: linear-gradient(326deg, rgba(22,136,255,1) 20%, rgba(22,230,255,1) 80%);
}

.mode-button.unranked {
	background: rgb(245,22,255);
	background: linear-gradient(326deg, rgba(245,22,255,1) 20%, rgba(178,22,255,1) 80%);
}

.mode-button.custom {
	background: #00a803;
	background: linear-gradient(90deg,rgba(0, 168, 3, 1) 0%, rgba(110, 255, 117, 1) 100%);
} */

.mode-button.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.mode-button:hover {
	border: 2px solid var(--primary-color);
	transform: scale(1.05);
}


.mode-button h1 {
	font-size: xx-large;
	color: var(--fg-1);
	font-weight: 900;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4px
}

.mode-button h1 i {
	font-size: x-large;
}

.mode-button.custom h1 i {
	color: #6fff72;
}

.mode-button.ranked h1 i {
	color: rgb(75, 162, 255);
}

.mode-button.unranked h1 i {
	color: rgb(247, 94, 255);
}

.mode-button h2 {
	font-size: x-large;
	color: var(--fg-1);
	text-transform: capitalize;
}

.mode-button p {
	width: 100%;
	color: var(--fg-3);
	font-size: medium;
}

.online-join-form {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px;
	font-size: medium;
}
